body{
    margin: 0px;
    padding: 0px;
    background:  #E5E5E5;
}

.container{
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;
}

.logo{
    width: 100%;
    float: left;

}

.left{
    float: left;
    width: 70%;
    height: 70%;
    border-radius: 24px;

}

.right{
    float: right;
    width: 30%;
    height: auto;
    border-radius: 24px;
    background: white;
}

.left-button{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;

}

.logo-img{
    margin-top: 1%;
    margin-left: 5%;
    float: inherit;

}

.titulo{
    float: inherit;
    margin-left: 20%;
    font-family: arial;
    color:#0A3871;
}

.text-input{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color:#0A3871;
    font-size: 32px;
    font-family: arial;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border: none;
    outline: none;
    background: #E5E5E5;

}

#imagen-derecha{
    margin-top: 20%;
    margin-left: 2%;
    width: 90%;
    height: auto;

}

#text{
    margin-left: 5%;
    margin-right: 5%;
    font-family: arial;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;


}

#texto2{
    float: left;
    margin-left: 10%;
    color: #495057;
    width: 80%;
    height: 60%;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: arial;
    font-size: 24px;
    line-height: 150%;
    text-align: center;


}

#botonEncriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 15%;
    background: #0A3871;
    border: 1px solid #0A3871;
    font-family: arial;
    font-size: 16px;
    color: #FFFFFF;

}

#botonDesencriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 10%;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    font-family: arial;
    font-style: normal;
    color: #0A3871;
    font-size: 16px;
    
}

#botonCopiar{
    margin-left: 33%;
    margin-top: 90%;
    padding: 24px;
    width: 40%;
    height: 10%;
    background: #D8DFE8;
    border-radius: 24px;
    border: 1px solid #0A3871;
    font-family: arial;
    font-style: normal;
    color: #0A3871;
    font-size: 16px;
    display: none;

}

p{
    width: 205px;
    height: 18px;
    font-family: arial;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;

}
